<div>
<% @comments.each do |comment| %>
<p>
<%#= image_tag(comment.user.photo) %>
<%= comment.content %>
<div>
  <%= button_to "Destroy this comment", @publication, method: :delete %>
</div>
</p>
<% end %>
</div>
